{% extends 'base.html' %}
{% block content %}

<div class="card">
  <h1><span class="red-text darken-3">Anime</span> Details</h1>


  <div class="card-content">
    <span class="card-title">{{ anime.name }}</span>
    <p>Title: {{ anime.title }}</p>
    <p>Genre: {{ anime.genre }}</p>
    <p>Description: {{ anime.description }}</p>
    {% if anime.seasons == 0 %}
    <p>Seasons: {{ anime.seasons }}
      {% else %}
    <p>Anime: Ongoing</p>
    {% endif %}
  </div>
  <div class="card-action red darken-3">
    <a href="{% url 'animes_update' anime.id %}">Edit</a>
    <a href="{% url 'animes_delete' anime.id %}">Destroy</a>
  </div>
  <div class="col s6">
    <div class="card white">
      <form action="{% url 'add_watching' anime.id %}" method="post">
        {% csrf_token %}
        {{ watching_form.as_p }}
        <input type="submit" class="btn red darken-3" value="Add Viewing">
      </form>
    </div>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Seen</th>
        </tr>
      </thead>
      <tbody>
        {% for watching in anime.watching_set.all %}
        <tr>
          <td>{{watching.date}}</td>
          <td>{{watching.get_seen_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="container white">
  <div class="card white">
    <div class="row">
      <div class="col s6">
        <h3>{{ anime.title }}'s Voice Actors</h3>
        {% if anime.va.count %}
        {% for va in anime.va.all %}
        <div class="card white">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ va.color }}">{{ va.color }}</span> {{ va.title }}
            </span>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>No VA's :(</h5>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="col s6">
  <h3>All VA's</h3>
  {% if vas.count %}
  {% for va in vas.all %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        <span style="color: {{ va.color }}">{{ va.color }}</span> {{ va.name }}
      </span>
    </div>
    <div class="card-action">
      <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn red darken-3">Add</button>
      </form>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h5>{{anime.title}} Already Has All VA's Available</h5>
  {% endif %}
</div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selectEl = document.getElementById('id_seen');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}